# Ignored files
src/instructions backup.jsonsrc/JoaoAlmeida_MScThesis_GivenVouchers.xlsx
src/NAO.pyc
src/old/
src/Participants results
src/participants_info.json
src/Plots
src/PT_task.pyc
src/Vouchers
src/vouchers.py